# Session 1: Basics of Python

# Problem Statement

A software company is developing a new user management system that contains information about their:
- `name` - The name of the user
- `date of birth` - The date of birth of the user
- `age` - The age of the user
- `subscription status` - The subscription status is represented by a boolean value, where "True" indicates an active subscription and "False" indicates an inactive subscription.

As a business analyst, your task is to use these details and extract useful information from them, using basic Python operations.

---

The company wants to generate user IDs from the user's name, age, year of birth, and subscription status by using string formatting to generate the user IDs.

In [ ]:
# User details on name, year of birth and age
name = 'Alice Kim'
yob	= 1965
age	= 58

In [ ]:
name+str(yob)+str(age)

'Alice Kim196558'

In [ ]:
# Extract user id using string formatting - user's name + yob + age without any whitespaces
user_id = name+str(yob)+str(age)
print("The user_id for the user {} with year of birth {} and age {} is {}".format(name,yob,age,user_id))

The user_id for the user Alice Kim with year of birth 1965 and age 58 is Alice Kim196558

In [ ]:
# Remove space and add an underscore in the name and use that as the id
user_id = name.replace(" ","_") + str(yob) + str(age)
print(f"The user_id for the user {name} with year of birth {yob} and age {age} is {user_id}")

The user_id for the user Alice Kim with year of birth 1965 and age 58 is Alice_Kim196558

The company needs to validate the length of user names to ensure none of the users' names are neither too long nor too short.

In [ ]:
# Find the length of the name
len(name)

9

In [ ]:
First_name = name.split()[0][0]
Last_name  = name.split()[1][0]
First_name + Last_name

'AK'

In [ ]:
## Extract fixed length user_ids using only the first letter of the first name and the last name.
user_id = First_name + Last_name + str(yob) + str(age)
print(f"The user_id for the user {name} with year of birth {yob} and age {age} is {user_id}")

The user_id for the user Alice Kim with year of birth 1965 and age 58 is AK196558

The company needs to split user-provided full names into separate first and last name fields. The full name strings may contain leading or trailing whitespace, as well as mixed case text. The company wants to ensure that the first and last names are accurately extracted from the full name strings, while also handling any formatting inconsistencies.

In [ ]:
full_name = "   Alice Kim  "

# Trim whitespace and lowercase text
full_name = full_name.strip().lower()

# Split full name into first and last name
first_name, last_name = full_name.split()

print("First Name:", first_name)
print("Last Name:", last_name)

First Name: alice
Last Name: kim

Write a Python program to extract the month value from the "DOB".

In [ ]:
# Slice string date to obtain month value
date_string = "23-05-1965"

# Use string slicing to extract the month value
month = date_string[3:5]

print("Month:", month)

Month: 05